---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import type { CollectionEntry } from 'astro:content';
import CustomImage from '../../components/CustomImage.astro';

interface Props {
    member: CollectionEntry<'team'>;
}

export async function getStaticPaths() {
    const team = await getCollection('team');
    return team.map((member: any) => ({
        params: {
            member: member.data.slug,
        },
        props: { member },
    }));
}

const { member } = Astro.props;
---

<Layout
    title=`${member.data.name} - Construx`
    description=`${member.data.name} is the ${member.data.role} at Construx`
>
    <main>
        <section
            class='container flex flex-col space-y-8 py-16 lg:flex-row lg:justify-between lg:space-y-0'
        >
            <CustomImage
                mobileImgUrl={member.data.profileImageMobile.image}
                desktopImgUrl={member.data.profileImageDesktop.image}
                imageSizes={[
                    [327, 327],
                    [500, 500],
                ]}
                alt={`${member.data.name} profile picture`}
                classList='place-self-center'
            />
            <div class='flex flex-col space-y-8 lg:w-[40%] xl:w-1/2'>
                <div>
                    <span class='font-bold leading-[45px] last:capitalize'>{member.data.role}</span>
                    <h2 class='-mt-2 text-left'>{member.data.name}</h2>
                </div>
                <div>
                    <p class='font-medium capitalize leading-[30px]'>{member.data.bio}</p>
                </div>
                <a href='/team' class='h-fit w-fit'>
                    <button
                        class='mt-8 inline-flex h-12 w-fit items-center justify-center rounded-lg bg-brand-green-primary px-8 py-3 hover:opacity-50'
                    >
                        <span class='font-medium tracking-tighter text-white'
                            >Read about the team</span
                        >
                    </button>
                </a>
            </div>
        </section>
    </main>
</Layout>
